@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary: #e9a916;
  --primary-light: #f5c84c;
  --secondary: #071c3b;
  --secondary-light: #0d2b55;
  --white: #f4f2ec;
  --white-muted: #c8c8c8;

  --footer-bg: #080f1f;

  --superior-white: #ffffff;

  --font-logo: "Libre Baskerville", serif;
  --font-nav: "Montserrat", sans-serif;
  --navbar-height: clamp(64px, 1.3vw + 59px, 80px);

  --font: "DM Sans", sans-serif;
}
